/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  padding-top: 8rem;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  header {
    padding-top: 1.5rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    display: none;
  }
}
header h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  header h2 {
    margin-top: 0rem;
    font-size: 1.8rem;
    justify-content: center;
  }
}
header h2 .main-word {
  position: relative;
  overflow: hidden;
  width: 100px;
  text-align: center;
  border-bottom: 1px solid;
  color: #F8FF33;
}
header h2 .main-word .word-showing {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #F8FF33;
}
footer {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  flex-direction: column;
  padding-top: 3rem;
  background: black;
  margin-top: 8rem;
  width: 100%;
  height: 12rem;
}
footer .footer-nav-social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
footer .footer-nav-social-icons .footer-nav {
  width: 100%;
}
footer .footer-nav-social-icons .footer-nav .footer-links a {
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}
footer .footer-nav-social-icons .footer-nav .footer-links a:last-child {
  color: #F8FF33;
}
footer .footer-nav-social-icons .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
footer .footer-nav-social-icons .social-icons img {
  width: 40%;
  height: auto;
}
footer .footer-nav-social-icons .social-icons .yellow-icon {
  display: none;
}
footer .copyright {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 3.5rem;
  font-size: 0.8rem;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
nav .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .logo:hover {
  cursor: pointer;
}
nav .logo p {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  nav .logo {
    display: none;
  }
}
nav .links a {
  text-decoration: none;
  margin-left: 4rem;
  font-size: 1.25rem;
  color: white;
}
nav .links a:hover {
  text-decoration: underline;
}
nav .links a:last-child {
  color: #F8FF33;
}
@media (max-width: 500px) {
  nav .links {
    display: none;
  }
}
nav .mobile-menu-btn {
  display: none;
}
@media (max-width: 500px) {
  nav .mobile-menu-btn {
    display: block;
    z-index: 3;
    position: absolute;
  }
}
@media (max-width: 500px) {
  nav {
    display: none;
  }
}
.homepage .water-icon {
  height: 5%;
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
}
.homepage .feature-one {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
.homepage .feature-one:hover .circle {
  transition: all 1s ease-in;
  transform: translateX(-300px);
}
.homepage .feature-one .feature-description {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
@media (max-width: 800px) {
  .homepage .feature-one .feature-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.homepage .feature-one .feature-description h2 {
  color: #1D1D1D;
  font-size: 2.5rem;
  font-weight: 500;
}
.homepage .feature-one .feature-description h2 .arrow {
  margin-left: 5rem;
  position: relative;
}
@media (max-width: 500px) {
  .homepage .feature-one .feature-description h2 .arrow {
    display: none;
  }
}
.homepage .feature-one .feature-description h2 .circle {
  position: absolute;
  margin-left: 30rem;
  z-index: -1;
}
@media (max-width: 500px) {
  .homepage .feature-one .feature-description h2 .circle {
    display: none;
  }
}
.homepage .feature-one .feature-description p {
  color: #1D1D1D;
  font-size: 1.8rem;
  width: 70%;
  padding-top: 2.5rem;
  line-height: 1.6;
}
@media (max-width: 500px) {
  .homepage .feature-one .feature-description p {
    text-align: center;
    width: 80%;
  }
}
.homepage .feature-one .feature-description button {
  padding: 2rem;
  width: 20rem;
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(29, 29, 29, 0.8);
  border: 1px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 500px) {
  .homepage .feature-one .feature-description button {
    margin-left: 0rem;
  }
}
.homepage .feature-one .feature-description button span {
  position: relative;
  z-index: 1;
}
.homepage .feature-one .feature-description button:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: #51d7ef;
}
.homepage .feature-one .feature-description button:after {
  height: 120%;
  left: -20%;
  transform: skewX(15deg);
  z-index: 0;
}
.homepage .feature-one .feature-description button:hover {
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 15px rgba(94, 255, 252, 0.8);
  border-style: none;
}
.homepage .feature-one .feature-description button:hover:after {
  width: 100%;
  left: 0;
  left: -10%;
  width: 120%;
  z-index: 0;
}
@media (max-width: 800px) {
  .homepage .feature-one .feature-description button {
    margin-left: -5rem;
  }
}
.homepage .feature-one img {
  height: auto;
  max-width: 80%;
  margin-right: -30rem;
}
@media (max-width: 800px) {
  .homepage .feature-one img {
    margin-right: -25rem;
  }
}
@media (max-width: 500px) {
  .homepage .feature-one img {
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}
@media (max-width: 500px) {
  .homepage .feature-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 5rem;
  }
}
.homepage .feature-two {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.homepage .feature-two .background {
  height: 600px;
  clip-path: polygon(0 0, 100% 10%, 100% 80%, 0 100%);
  background-color: #1D1D1D;
  z-index: 0;
  position: absolute;
  width: 100%;
  left: 0;
}
@media (max-width: 500px) {
  .homepage .feature-two .background {
    height: 700px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
}
.homepage .feature-two .feature-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  padding-top: 15%;
}
.homepage .feature-two .feature-description h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  width: 80%;
  align-self: center;
  text-align: center;
}
.homepage .feature-two .feature-description h2 span {
  color: yellow;
}
.homepage .feature-two .feature-description p {
  color: #fff;
  font-size: 1.8rem;
  width: 80%;
  padding-top: 2.5rem;
  line-height: 1.6;
  align-self: center;
  text-align: center;
}
@media (max-width: 500px) {
  .homepage .feature-two .feature-description p {
    font-size: 1.5rem;
  }
}
.homepage .feature-two .learn-images {
  z-index: 1;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 2rem;
}
.homepage .feature-two .learn-images .stats {
  width: 40%;
  height: 40%;
  padding-top: 5rem;
  margin-right: 10%;
}
@media (max-width: 500px) {
  .homepage .feature-two .learn-images .stats {
    display: none;
  }
}
.homepage .feature-two .learn-images .pikachu-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.homepage .feature-two .learn-images .pikachu-group .arrow {
  position: absolute;
  margin-left: -15rem;
}
@media (max-width: 500px) {
  .homepage .feature-two .learn-images .pikachu-group .arrow {
    display: none;
  }
}
.homepage .feature-two .learn-images .pikachu-group .circle {
  position: absolute;
  margin-left: -22.5rem;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  .homepage .feature-two .learn-images .pikachu-group .circle {
    display: none;
  }
}
.homepage .feature-two .learn-images .pikachu-group .pikachu {
  width: 80%;
  height: 80%;
  z-index: 3;
  margin-left: 10rem;
}
@media (max-width: 500px) {
  .homepage .feature-two .learn-images .pikachu-group .pikachu {
    width: 50%;
    height: 50%;
    margin-left: 5rem;
  }
}
.homepage .feature-two .learn-images .pikachu-group .shadow {
  z-index: 2;
  height: 100%;
  width: 100%;
  margin-top: -9rem;
}
@media (max-width: 500px) {
  .homepage .feature-two .learn-images .pikachu-group .shadow {
    display: none;
  }
}
@media (max-width: 500px) {
  .homepage .feature-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.homepage .feature-three {
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  height: 500px;
  margin-bottom: 200px;
}
@media (max-width: 800px) {
  .homepage .feature-three {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .homepage .feature-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
  }
}
.homepage .feature-three .feature-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  margin-top: -10rem;
}
@media (max-width: 800px) {
  .homepage .feature-three .feature-description {
    margin-top: 0rem;
  }
}
@media (max-width: 500px) {
  .homepage .feature-three .feature-description {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.homepage .feature-three .feature-description h2 {
  color: #1D1D1D;
  font-size: 2.5rem;
  font-weight: 500;
  align-items: center;
}
@media (max-width: 800px) {
  .homepage .feature-three .feature-description h2 {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .homepage .feature-three .feature-description h2 {
    text-align: center;
    margin-top: 10rem;
  }
}
.homepage .feature-three .feature-description p {
  color: #1D1D1D;
  font-size: 1.8rem;
  width: 70%;
  padding-top: 2.5rem;
  line-height: 1.6;
  align-items: center;
}
@media (max-width: 800px) {
  .homepage .feature-three .feature-description p {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .homepage .feature-three .feature-description p {
    text-align: center;
    margin-bottom: 15rem;
  }
}
.homepage .feature-three img {
  max-width: 60%;
  width: 50%;
  margin-left: -2rem;
  margin-top: -10rem;
  height: auto;
}
@media (max-width: 800px) {
  .homepage .feature-three img {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .homepage .feature-three img {
    margin-top: 12rem;
    width: 70%;
  }
}
.homepage .last-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage .last-section .feature-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .homepage .last-section .feature-four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.homepage .last-section .background {
  height: 600px;
  clip-path: polygon(0 0, 100% 20%, 100% 75%, 0 100%);
  background-color: #1D1D1D;
  z-index: 0;
  position: absolute;
  width: 100%;
  left: 0;
}
@media (max-width: 800px) {
  .homepage .last-section .background {
    height: 500px;
  }
}
@media (max-width: 500px) {
  .homepage .last-section .background {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    height: 600px;
  }
}
.homepage .last-section .feature-description {
  display: flex;
  justify-content: none;
  align-items: flex-start;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
@media (max-width: 500px) {
  .homepage .last-section .feature-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.homepage .last-section .feature-description h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  width: 80%;
  align-content: flex-start;
}
.homepage .last-section .feature-description h2 span {
  color: #F8FF33;
}
@media (max-width: 500px) {
  .homepage .last-section .feature-description h2 {
    margin-top: 5rem;
    text-align: center;
  }
}
.homepage .last-section .feature-description p {
  color: #fff;
  font-size: 1.8rem;
  width: 80%;
  padding-top: 2.5rem;
  line-height: 1.6;
  align-content: flex-start;
}
@media (max-width: 500px) {
  .homepage .last-section .feature-description p {
    text-align: center;
  }
}
.homepage .last-section .win-image {
  z-index: 1;
  position: relative;
  padding-right: 3rem;
}
.homepage .sign-up-button {
  padding: 2.5rem;
  width: 23rem;
  margin-top: 8%;
  border-radius: 1rem;
  background-color: #F8FF34;
  box-shadow: 2px 2px 15px rgba(250, 255, 153, 0.9), 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-style: none;
  color: #1D1D1D;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}
.homepage .sign-up-button:hover {
  cursor: pointer;
  color: black;
  border-radius: 2rem;
}
.mobile-menu {
  display: none;
}
@media (max-width: 500px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu .mobile-nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1D1D1D;
  z-index: 10;
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.mobile-menu .mobile-nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.mobile-menu .mobile-nav .logo p {
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
}
.mobile-menu .mobile-nav .mobile-menu-btn {
  z-index: 15;
  display: none;
}
.mobile-menu .mobile-nav .mobile-menu-btn img {
  align-self: center;
}
@media (max-width: 500px) {
  .mobile-menu .mobile-nav .mobile-menu-btn {
    display: block;
  }
}
.mobile-menu .mobile-menu-content {
  position: absolute;
  position: fixed;
  width: 40%;
  z-index: 2;
  cursor: pointer;
  background: black;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
  box-shadow: 5px 0px 20px #1D1D1D;
}
.mobile-menu .mobile-menu-content a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
s .mobile-menu .mobile-menu-content:last-child {
  color: #F8FF33;
}
.mobile-menu .mobile-menu-hidden {
  display: none;
}
.about-section-main {
  margin-top: 6rem;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
}
.about-section-main .about-top-section {
  margin-left: 2rem;
  margin-right: 2rem;
}
.about-section-main .about-top-section .team-members {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-top-section .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;
  }
}
.about-section-main .about-top-section .team-members .member-content {
  padding-top: 2rem;
  margin-left: 1rem;
}
.about-section-main .about-top-section .team-members .member-content p {
  color: #1D1D1D;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-content p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-top-section .team-members .member-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-top-section .team-members .member-1 .member-1-img {
  background-image: url('../img/mew-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-top-section .team-members .member-1 .member-1-img:hover {
  background-image: url('../img/ben.png');
  box-shadow: 2px 5px 15px rgba(152, 36, 127, 0.9), 2px 5px 15px rgba(255, 255, 5, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-1 .member-1-img {
    background-image: url('../img/ben.png');
  }
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-top-section .team-members .member-2 .member-2-img {
  background-image: url('../img/charizard-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-top-section .team-members .member-2 .member-2-img:hover {
  background-image: url('../img/javontay.png');
  box-shadow: 2px 5px 15px rgba(158, 36, 41, 0.9), 2px 5px 15px rgba(215, 111, 44, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-2 .member-2-img {
    background-image: url('../img/javontay.png');
  }
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-top-section .team-members .member-3 .member-3-img {
  background-image: url('../img/chimchar-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-top-section .team-members .member-3 .member-3-img:hover {
  background-image: url('../img/brandon.png');
  box-shadow: 2px 5px 15px rgba(158, 36, 41, 0.9), 2px 5px 15px rgba(215, 111, 44, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-3 .member-3-img {
    background-image: url('../img/brandon.png');
  }
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-top-section .team-members .member-4 .member-4-img {
  background-image: url('../img/blastoise-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-top-section .team-members .member-4 .member-4-img:hover {
  background-image: url('../img/cj.jpeg');
  box-shadow: 2px 5px 15px rgba(101, 173, 220, 0.9), 2px 5px 15px rgba(147, 181, 216, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-top-section .team-members .member-4 .member-4-img {
    background-image: url('../img/cj.jpeg');
  }
}
.about-section-main .about-bottom-section {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.about-section-main .about-bottom-section .team-members {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-bottom-section .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.about-section-main .about-bottom-section .team-members .member-5 .member-content p {
  color: #1D1D1D;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-5 .member-content p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-bottom-section .team-members .member-5 .member-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-bottom-section .team-members .member-5 .member-5-img {
  background-image: url('../img/jolteon-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-bottom-section .team-members .member-5 .member-5-img:hover {
  background-image: url('../img/quinn.jpeg');
  box-shadow: 2px 5px 15px rgba(221, 149, 48, 0.9), 2px 5px 15px rgba(255, 215, 98, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-5 .member-5-img {
    background-image: url('../img/quinn.jpeg');
  }
}
.about-section-main .about-bottom-section .team-members .member-6 .member-content p {
  color: #1D1D1D;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-6 .member-content p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-bottom-section .team-members .member-6 .member-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-bottom-section .team-members .member-6 .member-6-img {
  background-image: url('../img/mewtwo-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-bottom-section .team-members .member-6 .member-6-img:hover {
  background-image: url('../img/rudy.png');
  box-shadow: 2px 5px 15px rgba(152, 36, 127, 0.9), 2px 5px 15px rgba(255, 255, 5, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-6 .member-6-img {
    background-image: url('../img/rudy.png');
  }
}
.about-section-main .about-bottom-section .team-members .member-7 .member-content p {
  color: #1D1D1D;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-7 .member-content p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-bottom-section .team-members .member-7 .member-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-7 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-bottom-section .team-members .member-7 .member-7-img {
  background-image: url('../img/squirtle-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-bottom-section .team-members .member-7 .member-7-img:hover {
  background-image: url('../img/erica.png');
  box-shadow: 2px 5px 15px rgba(101, 173, 220, 0.9), 2px 5px 15px rgba(147, 181, 216, 0.8);
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-7 .member-7-img {
    background-image: url('../img/erica.png');
  }
}
.about-section-main .about-bottom-section .team-members .member-8 .member-content p {
  color: #1D1D1D;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-8 .member-content p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about-section-main .about-bottom-section .team-members .member-8 .member-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about-section-main .about-bottom-section .team-members .member-8 .member-8-img {
  background-image: url('../img/jigglypuff-silhouette.png');
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.about-section-main .about-bottom-section .team-members .member-8 .member-8-img:hover {
  background-image: url('../img/trish.png');
  box-shadow: 2px 5px 15px rgba(76, 134, 136, 0.8), 2px 5px 15px rgba(238, 204, 135, 0.9);
}
@media (max-width: 800px) {
  .about-section-main .about-bottom-section .team-members .member-8 .member-8-img {
    background-image: url('../img/trish.png');
  }
}
.about-section-main .about-bottom-section .team-members .member-content {
  padding-top: 2rem;
  margin-left: 1rem;
}
.about-section-main .about-bottom-section .team-members .member-content p {
  color: #1D1D1D;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}
.about-section-main .about-bottom-section .team-members img {
  border-radius: 50%;
  width: 70%;
  height: auto;
  background: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.header-background-featured {
  height: 60rem;
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: absolute;
  z-index: -1;
  width: 100%;
}
@media (max-width: 500px) {
  .header-background-featured {
    height: 30rem;
  }
}
.featured-main-container .signup-content {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  width: 80rem;
  margin: 0 auto;
  border-radius: 20px;
}
.featured-main-container .signup-content p {
  font-size: 1.5rem;
  width: 80%;
  line-height: 1.4;
  color: black;
  text-align: center;
  padding: 2rem;
}
.featured-main-container .signup-content .sign-up-button {
  min-height: 6rem;
  text-align: center;
  width: 23rem;
  border-radius: 1rem;
  background-color: #F8FF34;
  box-shadow: 2px 2px 15px rgba(250, 255, 153, 0.9), 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-style: none;
  color: #1D1D1D;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}
.featured-main-container .signup-content .sign-up-button:hover {
  cursor: pointer;
  color: black;
  border-radius: 2rem;
}
.featured-main-container .featured-pokemon {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column-reverse;
}
.featured-main-container .featured-pokemon .character-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
.featured-main-container .featured-pokemon .character-links .character-link {
  width: 10%;
  height: 80px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.featured-main-container .featured-pokemon .character-links .character-link:hover {
  transform: scale(1.3, 1.3);
  transition: ease-in-out;
}
.featured-main-container .featured-pokemon .carousel-arrows {
  width: 100px;
  height: 100px;
  margin-top: 10rem;
  z-index: 4;
}
.featured-main-container .featured-pokemon .character-items {
  overflow: hidden;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
  width: 100%;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides {
  display: none;
  width: 80%;
  height: 20rem;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-left: 15rem;
  margin-bottom: 1.5rem;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides .pokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides .pokemon .pokemon-images .pokemon-character {
  height: 70%;
  position: relative;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides .pokemon .pokemon-images .background {
  z-index: -1;
  height: 100rem;
  position: absolute;
  margin-top: -60rem;
  margin-left: 0;
  right: -40rem;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides .pokemon .about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15rem;
  position: relative;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides .pokemon .about-content img.pokemon-stats {
  margin-right: 0;
  margin-top: -14rem;
  border-radius: 10px;
  margin-left: 5rem;
  padding: 10px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 20rem;
}
.featured-main-container .featured-pokemon .character-items .pokemonSlides .pokemon .about-content p {
  margin-top: 10rem;
  font-size: 1.8rem;
  line-height: 1.4;
  color: black;
  width: 75%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.featured-main-container .featured-pokemon .character-items .pokemon-slide-selected {
  display: block !important;
}
.featured-main-container .featured-pokemon .character-items .pokemon-slide-selected h2 {
  margin-left: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../img/dot.png");
  background-repeat: repeat;
  background-size: 1.5rem 1.5rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .header-background {
  height: 50rem;
  background-color: #1D1D1D;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  position: absolute;
  z-index: -1;
  width: 100%;
}
@media (max-width: 500px) {
  body .header-background {
    height: 30rem;
  }
}
body .header-backgroundtwo {
  height: 500px;
  clip-path: polygon(0 0, 100% 80%, 100% 56%, 0 100%);
  background-color: black;
  padding-top: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
}
@media (max-width: 500px) {
  body .header-backgroundtwo {
    height: 30rem;
  }
}
body .container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem 3rem 3rem 3rem;
}
h1 {
  font-size: 4rem;
  padding: 3.5rem 0;
  font-weight: 500;
}
