/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  padding-top: 8rem;
  max-width: 900px;
  margin: 0 auto;
}
header h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 2.5rem;
}
header h2 .main-word {
  position: relative;
  overflow: hidden;
  width: 100px;
  text-align: center;
  border-bottom: 1px solid;
  color: #F8FF33;
}
header h2 .main-word .word-showing {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #F8FF33;
}
footer {
  display: flex;
  justify-content: flex-start;
  align-items: none;
  flex-direction: column;
  padding-top: 2rem;
  background: #1D1D1D;
  margin-top: 5rem;
  width: 100%;
  height: 8rem;
}
footer .footer-nav-social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
footer .footer-nav-social-icons nav {
  width: 70%;
}
footer .footer-nav-social-icons nav .links a {
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}
footer .footer-nav-social-icons nav .links a:last-child {
  color: #F8FF33;
}
footer .footer-nav-social-icons .social-icons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .footer-nav-social-icons .social-icons img {
  width: 40%;
  height: auto;
}
footer .copyright {
  width: 26.6%;
  text-align: right;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
nav .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .logo p {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
nav .links a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.25rem;
  color: white;
}
nav .links a:last-child {
  color: #F8FF33;
}
.homepage .feature-one {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
.homepage .feature-one .feature-description {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.homepage .feature-one .feature-description h2 {
  color: #1D1D1D;
  font-size: 2.5rem;
  font-weight: 500;
}
.homepage .feature-one .feature-description p {
  color: #1D1D1D;
  font-size: 1.8rem;
  width: 70%;
  padding-top: 2.5rem;
  line-height: 1.6;
}
.homepage .feature-one .feature-description button {
  padding: 2rem;
  width: 20rem;
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(29, 29, 29, 0.8);
  border: 1px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}
.homepage .feature-one .feature-description button span {
  position: relative;
  z-index: 1;
}
.homepage .feature-one .feature-description button:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: #51d7ef;
}
.homepage .feature-one .feature-description button:after {
  height: 120%;
  left: -20%;
  transform: skewX(15deg);
  z-index: 0;
}
.homepage .feature-one .feature-description button:hover {
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 15px rgba(94, 255, 252, 0.8);
  border-style: none;
}
.homepage .feature-one .feature-description button:hover:after {
  width: 100%;
  left: 0;
  left: -10%;
  width: 120%;
  z-index: 0;
}
.homepage .feature-one img {
  height: auto;
  max-width: 60%;
  margin-right: -20rem;
}
.homepage .feature-two {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.homepage .feature-two .background {
  height: 600px;
  clip-path: polygon(0 0, 100% 20%, 100% 75%, 0 100%);
  background-color: #1D1D1D;
  z-index: 0;
  position: absolute;
  width: 100%;
  left: 0;
}
.homepage .feature-two .feature-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  padding-top: 10%;
}
.homepage .feature-two .feature-description h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  width: 80%;
  align-self: center;
  text-align: center;
}
.homepage .feature-two .feature-description p {
  color: #fff;
  font-size: 1.8rem;
  width: 80%;
  padding-top: 2.5rem;
  line-height: 1.6;
  align-self: center;
  text-align: center;
}
.homepage .feature-two .learn-images {
  z-index: 1;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 2rem;
}
.homepage .feature-two .learn-images .stats {
  width: 40%;
  height: 40%;
  padding-top: 2rem;
  margin-right: 15%;
}
.homepage .feature-two .learn-images .pikachu {
  width: 40%;
  height: 40%;
}
.homepage .feature-three {
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  height: 700px;
}
.homepage .feature-three .feature-description {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  margin-top: -15rem;
}
.homepage .feature-three .feature-description h2 {
  color: #1D1D1D;
  font-size: 2.5rem;
  font-weight: 500;
  align-items: center;
}
.homepage .feature-three .feature-description p {
  color: #1D1D1D;
  font-size: 1.8rem;
  width: 70%;
  padding-top: 2.5rem;
  line-height: 1.6;
  align-items: center;
}
.homepage .feature-three img {
  max-width: 60%;
  width: 20%;
  height: auto;
}
.homepage .last-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage .last-section .feature-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 900px;
  margin: 0 auto;
}
.homepage .last-section .feature-four .background {
  height: 600px;
  clip-path: polygon(0 0, 100% 20%, 100% 75%, 0 100%);
  background-color: #1D1D1D;
  z-index: 0;
  position: absolute;
  width: 100%;
  left: 0;
}
.homepage .last-section .feature-four .feature-description {
  display: flex;
  justify-content: none;
  align-items: flex-start;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.homepage .last-section .feature-four .feature-description h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  width: 80%;
  align-content: flex-start;
}
.homepage .last-section .feature-four .feature-description p {
  color: #fff;
  font-size: 1.8rem;
  width: 80%;
  padding-top: 2.5rem;
  line-height: 1.6;
  align-content: flex-start;
}
.homepage .last-section .feature-four .win-image {
  z-index: 1;
  position: relative;
  padding-right: 3rem;
}
.homepage .last-section .sign-up-button {
  padding: 2.5rem;
  width: 23rem;
  margin-top: 8%;
  border-radius: 1rem;
  background-color: #F8FF34;
  box-shadow: 2px 2px 15px rgba(250, 255, 153, 0.9), 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-style: none;
  color: #1D1D1D;
  font-size: 1.8rem;
  position: relative;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../img/dot.png");
  background-repeat: repeat;
  background-size: 1.5rem 1.5rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .header-background {
  height: 50rem;
  background-color: #1D1D1D;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  position: absolute;
  z-index: -1;
  width: 100%;
}
body .header-backgroundtwo {
  height: 500px;
  clip-path: polygon(0 0, 100% 80%, 100% 56%, 0 100%);
  background-color: black;
  padding-top: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
}
body .container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem 3rem 3rem 3rem;
}
h1 {
  font-size: 4rem;
  padding: 3.5rem 0;
  font-weight: 500;
}
