* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./img/dot.png');
  background-repeat: repeat;
  background-size: 15px 15px;
}
