.about-section-main {
    margin-top: 6rem;
    .flex(none, none, column);
    .about-top-section {
        margin-left: 2rem;
        margin-right: 2rem;
        .team-members {
            .flex(space-around, none, row);

            .member-content {
                padding-top: 2rem;
                margin-left: 1rem;
                p {
                    color: @pokestats-color-primary;
                    font-size: 1.2rem;
                    line-height: 1.8;
                    text-align: left;
                }

            }

            .member-1 {
                .member-1-img {
                    background-image: url('../img/mew-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/ben.png');
                        animation: pulse;
                    }

                }

            }


            .member-2 {
                .member-2-img {
                    background-image: url('../img/charizard-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/javontay.png');
                    }

                }

            }

            .member-3 {
                .member-3-img {
                    background-image: url('../img/chimchar-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/chimchar-silhouette.png');
                    }

                }

            }

            .member-4 {
                .member-4-img {
                    background-image: url('../img/blastoise-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/cj.jpeg');
                    }

                }

            }

        }
    }

    .about-bottom-section {
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        .team-members {
            .flex(space-around, none, row);

            .member-5 {
                .member-5-img {
                    background-image: url('../img/jolteon-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/quinn.jpeg');
                    }

                }

            }

            .member-6 {
                .member-6-img {
                    background-image: url('../img/mewtwo-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/rudy.png');
                    }

                }

            }

            .member-7 {
                .member-7-img {
                    background-image: url('../img/squirtle-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/erica.png');
                    }

                }

            }

            .member-8 {
                .member-8-img {
                    background-image: url('../img/jigglypuff-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-image: url('../img/trish.png');
                    }

                }

            }





            .member-content {
                padding-top: 2rem;
                margin-left: 1rem;
                p {
                    color: @pokestats-color-primary;
                    font-size: 1.2rem;
                    line-height: 1.8;
                    text-align: left;
                }

            }

            img {
                border-radius: 50%;
                width: 70%;
                height: auto;
                background: white;
                box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);
            }
        }
    }

}