.about-section-main {
    margin-top: 6rem;
    .flex(none, none, column);
    .about-top-section {
        margin-left: 2rem;
        margin-right: 2rem;
        .team-members {
            .flex(space-around, none, row);

            @media @tablet {
                .flex(flex-start, flex-start, column);
                width: 100%;
                padding-top: 3rem;
            }

            @media @phone {
                .flex(center, center, column);
                width: 100%;
                padding-top: 3rem;
            }
            .member-content {
                padding-top: 2rem;
                margin-left: 1rem;

                p {
                    color: @pokestats-color-primary;
                    font-size: 1.2rem;
                    line-height: 1.8;
                    text-align: left;

                    @media @tablet {
                        font-size: 2rem;

                    }

                    @media @phone {
                        font-size: 1.6rem;

                    }
                }

            }

            .member-1 {
                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }

                .member-1-img {
                    background-image: url('../img/mew-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/ben.png');
                        box-shadow: 2px 5px 15px rgba(152, 36, 127, 0.9),
            2px 5px 15px rgba(255, 255, 5, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/ben.png');
                    }

                }

            }


            .member-2 {

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }

                .member-2-img {
                    background-image: url('../img/charizard-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/javontay.png');
                        box-shadow: 2px 5px 15px rgba(158, 36, 41, 0.9),
            2px 5px 15px rgba(215, 111, 44, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/javontay.png');
                    }

                }

            }

            .member-3 {

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .member-3-img {
                    background-image: url('../img/chimchar-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/brandon.png');
                        box-shadow: 2px 5px 15px rgba(158, 36, 41, 0.9),
            2px 5px 15px rgba(215, 111, 44, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/brandon.png');
                    }

                }

            }

            .member-4 {

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .member-4-img {
                    background-image: url('../img/blastoise-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/cj.jpeg');
                        box-shadow: 2px 5px 15px rgba(101, 173, 220, 0.9),
            2px 5px 15px rgba(147, 181, 216, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/cj.jpeg')
                    }

                }

            }

        }
    }

    .about-bottom-section {
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        .team-members {
            .flex(space-around, none, row);

            @media @tablet {
                .flex(center, center, column);
            }

            @media @phone {
                .flex(center, center, column);
            }


            .member-5 {

                .member-content {

                    p {
                        color: @pokestats-color-primary;
                        font-size: 1.2rem;
                        line-height: 1.8;
                        text-align: left;
    
                        @media @tablet {
                            font-size: 2rem;
    
                        }

                        @media @phone {
                            font-size: 1.6rem;
    
                        }
                    }
    
                }

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .member-5-img {
                    background-image: url('../img/jolteon-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/quinn.jpeg');
                        box-shadow: 2px 5px 15px rgba(221, 149, 48, 0.9),
            2px 5px 15px rgba(255, 215, 98, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/quinn.jpeg');
                    }

                }

            }

            .member-6 {

                .member-content {

                    p {
                        color: @pokestats-color-primary;
                        font-size: 1.2rem;
                        line-height: 1.8;
                        text-align: left;
    
                        @media @tablet {
                            font-size: 2rem;
    
                        }

                        @media @phone {
                            font-size: 1.6rem;
    
                        }
                    }
    
                }

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }

                .member-6-img {
                    background-image: url('../img/mewtwo-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/rudy.png');
                        box-shadow: 2px 5px 15px rgba(152, 36, 127, 0.9),
            2px 5px 15px rgba(255, 255, 5, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/rudy.png');
                    }

                }

            }

            .member-7 {

                .member-content {

                    p {
                        color: @pokestats-color-primary;
                        font-size: 1.2rem;
                        line-height: 1.8;
                        text-align: left;
    
                        @media @tablet {
                            font-size: 2rem;
    
                        }

                        @media @phone {
                            font-size: 1.6rem;
    
                        }
                    }
    
                }

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }

                .member-7-img {
                    background-image: url('../img/squirtle-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/erica.png');
                        box-shadow: 2px 5px 15px rgba(101, 173, 220, 0.9),
            2px 5px 15px rgba(147, 181, 216, 0.8);
                    }

                    @media @tablet {
                        background-image: url('../img/erica.png');
                    }


                }

            }

            .member-8 {

                .member-content {

                    p {
                        color: @pokestats-color-primary;
                        font-size: 1.2rem;
                        line-height: 1.8;
                        text-align: left;
    
                        @media @tablet {
                            font-size: 2rem;
    
                        }

                        @media @phone {
                            font-size: 1.6rem;
    
                        }
                    }
    
                }

                @media @tablet {
                    .flex(space-around, center, row);
                    width: 100%;
                    margin-bottom: 2rem;
                }

                .member-8-img {
                    background-image: url('../img/jigglypuff-silhouette.png');
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background-color: white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow:  0px 0px 30px #8f8f8f;

                    &:hover {
                        background-image: url('../img/trish.png');
                        box-shadow: 2px 5px 15px rgba(76, 134, 136, 0.8), 
            2px 5px 15px rgba(238, 204, 135, 0.9);
                    }

                    @media @tablet {
                        background-image: url('../img/trish.png');
                    }

                }

            }





            .member-content {
                padding-top: 2rem;
                margin-left: 1rem;
                p {
                    color: @pokestats-color-primary;
                    font-size: 1.2rem;
                    line-height: 1.8;
                    text-align: left;
                }

            }

            img {
                border-radius: 50%;
                width: 70%;
                height: auto;
                background: white;
                box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.5);
            }
        }
    }

}