footer {
    .flex(flex-start, center, row);
    background: @pokestats-color-primary;
    margin-top: 5rem;
    width: 100%;
    height: 8rem;
    nav {
        width: 70%;
        .links{
            a {
                text-decoration: none;
                margin-left: 1rem;
                font-size: 1.25rem;
                color: white;
            }
    
            a:last-child {
                color: #F8FF33;
            }
    
        }
    }

    .social-icons {
        width: 30%;
        .flex(center, center, row);
        img {
            width: 40%;
            height: auto;
        }
    }
}