nav {
    .flex(space-between, center, row);
    .max-width-desktop();
    .logo {
        .flex(space-around, center, row);
        &:hover {
            cursor: pointer;
        }

        p {
            margin-left: 1.5rem;
            font-size: 1.5rem;

        }

        @media @phone{
            display: none;
          }
    }

    .links{

        a {
            text-decoration: none;
            margin-left: 4rem;
            font-size: 1.25rem;
            color: white;

            &:hover{
                text-decoration: underline;
            }
        }

        a:last-child {
            color: #F8FF33;
        }
        
        @media @phone{
            display: none;
          }

    }

    .mobile-menu-btn{
        display: none;

        @media @phone{
            display: block;
            z-index: 3;
            position: absolute;
          }
    }

    @media @phone{
        display: none;

      }



}