//COLOR SCHEME

@pokestats-color-primary: #1d1d1d;
@pokestats-color-white: #fff;
@pokestats-color-yellow: #f8ff33;
@pokestats-color-grey: #979797;

//responsive page sizes

@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 540px)";

@tablet_small: ~"(max-width: 700px)";
// @largescreen: ~"(min-width: 1000px";